<% if signed_in? %>
  <div class="debug row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="debug col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <section class="debug center hero-unit">
    <h1>Welcome to the Home Page</h1>
    <%= link_to "Sign up", signup_path, class:"btn btn-primary" %>
  </section>
<% end %>
