<nav class="navbar navbar-fixed-top navbar-inverse main-navbar" role="navigation">
  <h1 class="sr-only">Main Navigation</h1>
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Logo', root_path, class: "navbar-brand", id: "logo" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Help', help_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <% if signed_in? %>
          <li><%= link_to 'Users', '#' %></li>
          <li class="dropdown">Account</li>
          <ul class="dropdown-menu" role="menu" aria-labelledby="account options menu">
            <li role="presentation">
              <%= link_to 'Profile', current_user, html: { role:'menuitem', tabindex: -1 } %>
            </li>
            <li role="presentation">
              <%= link_to 'Settings', '#', html: { role:'menuitem', tabindex: -1 } %>
            </li>
            <li class="divider"></li>
            <li role="presentation">
              <%= link_to 'Sign out', sign_out_path, method: "delete" html: { role:'menuitem', tabindex: -1 } %>
            </li>
        <% else %>
            <li role="presentation">
              <%= link_to 'Sign out', sign_out_path, method: "delete" html: { role:'menuitem', tabindex: -1 } %></li>
            </ul>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!--
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
  </div> -->
